*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.103); */
    font-family: monospace;
}
.body{
    width: 100vw;
    height: 100vh; 
    padding: 10px; 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url("https://images.unsplash.com/photo-1602773040364-522556233e30?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    
    
}
.bg-features{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.body img{
    width: 150px;
}
.getting-started{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    /* background-color: rgb(66, 66, 66) ; */
    border-radius: 10px;
}
.getting-started h3{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.getting-started a,.confirm{
   padding: 1.4rem 2rem;
   background-color: rgb(22, 19, 19);
   text-decoration: none;
   border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
}
.confirm{
   width: 90vw;
   display: inline-flex;
   position: absolute;
   justify-content: center;
    margin-bottom: 1.5rem;
    margin: 10px;
    bottom: 2rem;
    left: 0.8rem;
    font-size: 1.8rem;
    background-color: rgb(47 125 149);

}

.vehicle-details pre{
    font-size: x-large;
}
.credentials{
    background-image: url("https://images.unsplash.com/photo-1484359755660-c7ed8f31f0cc?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGRhcmslMjByb2FkfGVufDB8fDB8fHww");
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    align-items: center;

}
.credentials img{
    width: 150px;
    
}

.h-w-100{
    width: 100vw;
    height: 100vh;
}
.utility-flex{
    display: flex;
}
form{
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;  
}
button{
   margin-top: 2rem;
    cursor: pointer;
}
.other{
    margin-top: 3rem;
}
form  input,.signin{
    width: 100%;
}
form p{
    font-size: 1.5rem;
    text-align: center;
} 
.signin{
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

form input, button, select{ 
    width: 100%;
    padding: 10px;
    font-size: x-large;
    border: 0.5px solid white;
    border-radius:10px ;
    background-color: black;
}
select {
  
    background-color:rgba(0, 0, 0, 0.192);
    overflow: hidden   ;
    width: 65%;
}
select option{
    background-color: rgba(2, 3, 3, 0.534);
    
}
select:focus{
    outline: none;
    border: 0.5px solid rgb(13, 102, 143);
}
form input:focus{
    outline: none;
    border: 0.5px solid rgb(13, 102, 143);
}
.nextpage{
    display: none;
}
h1{
    text-align: center;
}
.main-container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
}
.uber-logo{
    position: absolute;
    margin: 10px;
    z-index:1 ;
    
}
.mode ,.logo{
    z-index:1;
}
.logo{
    width:100px;
    
}
.moon{
    padding: 7px;
    /* background-color: red; */
    border: 1px dotted white;
    border-radius: 50%;
}
.img{

    height: 100%;
   
}
.main-container{
    height: 100vh;
    overflow:scroll ;
}
.input-container{
    position: fixed;
    bottom: 3rem;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: black;
   z-index: 1;
 
    
}
.input-container input{ 
    width: 100%;
    padding: 10px 10px 10px 3.6rem;
    font-size: x-large;
    border: 0.5px solid white;
    border-radius:10px ;
    margin-top: 10px;
    background: #000;
}
.imgloc{
    width: 35px;
    height: 35px;
}
.suggest{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    padding: 8px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border:1px solid rgb(126, 125, 125) ;
   width:100%;

   overflow-y: hidden;
}
.suggestions{
    display: none;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
    overflow-y:auto ;
  
}
.para{
    font-size: medium;
    width: 100%;
}
b{
    font-size: 16px;
}
.horizontal{
    width: 0.3rem;
    height: 75px;
    background-color: rgb(87, 84, 84);
    position: absolute;;
    margin-top: 1.5rem;
    left: 3rem;
   
}
.choosing-vehicle{
    width: 100vw;
    background: #000;
    z-index: 5;
    position: absolute;
    bottom: 0;
    padding: 10px;
    /* display: none; */
    flex-direction: column;
}
.vehicle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}
.vehicle:active{
    border: 2px solid white;
}
.vehicle img{
    width: 80px;
}
.toggle{
    position: absolute;
    left: 1rem;
    width: 40px;
    height: 40px;  
}
.toggler{
   cursor: pointer;
    width: 40px;
    height: 40px;
    z-index: 5;
 
}
.justify-start{
    justify-content: start;
}
.vehicle p{
    font-size: 25px;
}
p span{
    font-size: 15px;
}
span p{
    font-size: 15px;
    color: rgb(126, 121, 121);
}
.vehicle-details{
    height: 50vh;
    width: 100vw;
    padding: 10px;
    background-color: black;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    padding-top: 2rem;
    z-index: 1;
   display:none ;
}
.vehicle-details img{
    height: 110px;
}
.looking-for-vehicle{
    display: none;
}
.ride{
   
    font-size: larger;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.ride p{
    font-size: 20px;
}
.ride-accepted{
    width: 100vw;
    padding: 10px;
    background-color: black;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    padding-top: 2rem;
    height: 60vh;
    gap: 2rem;
    z-index: 1;
}
.info{
    width: 100%;
    justify-content: space-between;

}
.captain-nav{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    position: absolute;
    width: 90vw;
    z-index:1;
}
.captain-mode-toggler{
    height: 40px;
    width: 40px;
}
.mt-5{
    margin-top: 5rem;
}
.icon-up{
    width:20px;
    height:20px
}
.mode{
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgb(36 38 43);
    border-radius: 10px;
    position: absolute;
    top: 5rem;
    width: 100vw;
    gap: 15px;

}
.space{
    width: 100%;
    justify-content: space-between;
}
.details-trip{
  flex-direction: column;
    align-items: center;
}
.navigations{
    padding: 10px;
    background-color: rgb(30, 71, 71);
    border-radius: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5rem;
}.icon-right{
    width: 40px;
    height: 40px;
}
.navigations p{
    font-size: xx-large;
}
.map-container>div{
    width: 100%;
    overflow-y: scroll;
}
.navigator{
    position: absolute;
    top:45%;
    height: 25px;
    width: 24px;
    right: 50%;
}
.details{
    padding: 10px 26px;
    width: 100vw;
    justify-content: space-between;
}
.captain-details{
    padding: 20px;
    position: absolute;
    bottom: 0;
    height: 33vh;
    width: 100vw;
    background-color: black;
    display: flex;
   align-items: start;
  gap: 30px;
    border-radius: 10px;
    flex-direction: column;
}
.captain-details img , .ride-details img ,.trip-user img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    
}
.captain-details .img{
    height: fit-content;
    justify-content: start;  
    gap: 10px;
    width: 100%;
  
}.font-moderate{
    font-size: 20px;
}
.img h2,.img p{
    margin-left:2rem ;
}

.img p{
    margin: 0;
    color:rgb(150, 150, 150)
}
.captain-history{
    padding: 10px;
    width: 100%;
   
    background-color: #24262b;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    padding:2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background: transparent;
}
.ride-details{
    width: 100vw;
    height: 50vh;
    position: absolute;
    bottom: 0;
    background: #000;  
    padding: 10px;
    z-index: 1;
  
}.img-loc{
    width: 25px;
    margin-left: 5px;
}

.coloring{
   background: rgb(122, 128, 122); 
}
.user-ride, .user-info{
    gap: 10px;
    justify-content: space-between   ;
    align-items: center;
}
.ride-details-container{
    display: flex;
    gap:10px ;
    flex-direction: column;
    z-index:1;
    position: relative;
   
}
.zee{
    z-index: 2;
}
.no-border{
    border: none;
}
.content-start{
    justify-content: start;
}
.ride-btn{
    color: white;
    width: 100%;
    padding: 10px 14px;
    display: inline-flex;

    text-decoration: none;
   justify-content: center;
   align-items: center;
   font-size: 1.5rem;
   cursor: pointer;
  margin-top: 10px;
  font-weight: 500;
  border-radius: 10px;
  margin-right: 10px;
}
.ride-btn:focus{
    outline: none; 
}
.hight-full{
    height: 100vh;
    background-color: #000;
    position: absolute ;
    top:0;
}
.accept-confirm{
    background-color: rgb(73, 170, 250);
}
.accept{
    background-color: rgb(21, 161, 108);
}
.ride-details-container .buttons{
    margin-top: 50px;
}
.trip-navigations{
    margin: 2px 5px;
    border-radius:10px ;
    padding: 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #13171d;
    position: absolute;
    bottom: 0;
    width: 98%;
}
.trip-user{
    display: flex;
    justify-content: start;
    width: 100%;
    gap: 10px;
}
.trip-user :nth-child(2){
    gap: 3px;
    flex-direction: column;
}
.trip-user p{
    font-size: larger;
}.end-ride-btn{
    text-decoration: none;
    padding: 15px 14px;
    border-radius: 10px;
    background-color: aqua;
    color: black;
    display: inline-flex;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    margin: 3rem 0rem;
}
.pos-static-adjust{
    position: static;
    background-color: #24262b;
    
}
.pos-static-adjust p{
    font-size: 18px;
}
@media all and (min-width:768px) {
    .credentials{
        margin-top: 30%;
        width: 420px;
       height: fit-content;
    }
    body{

        display: flex;
        justify-content: center;
        background-color: aqua;
    }
}